body {
    background-image: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-color: darkgray;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    font-family: sans-serif;
    background-attachment: fixed;
    background-size: contain;
    
    
}


.decoration {
    width: 20%;
    height: 10%;
    
}

#logo {
   margin-top: 10px;
    margin-left: 10px;
    width: 20%;
    
}

#page {
    width: 95%;
    background-color: white;
    padding 10%;
    margin-top: 20%;
   
}

#content {
    margin-top: 3%;
    line-height: 20px;
    margin: 20px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

h1 {
    font-size: 36px;
    font-family: sans-serif;
    color: white;
    margin-left: 20px;
}



nav {
    width: 100%;
    padding: 0px;
    display: flex;
    background-color: rgb(10, 37, 94);
    justify-content: space-between;
    align-items: center;
    margin: 0;
    margin-top: 30px;
}

nav ul {
    width: 100%;
    text-align: right;
    padding: 15px;
}

nav li {
    display: inline;
    font-size: 20px;
    font-family: sans-serif;
    margin: 30px;
    padding: 10px;
    height: 100%;
    width: 100%
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 30px;
    height: 100%;
    width: 100%;
}

nav a:hover {
    background-color: darkgray
}

.contentrow {
    margin-bottom: 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}




article {
    width: 80%;
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
}